<div ng-include="'components/navbar/navbar.html'"></div>

<div class="well well-lg">
  <h1>Create Your New Profile</h1>
  <br>
  <div class="form-horizontal">
    <label class="control-label" for="inputDefault" ng-model="newName">Your Name?</label>
      <input type="text" class="form-control" id="inputDefault" /><br>
      <div class="form-horizontal" style=>

        <label class="control-label" for="inputDefault" ng-model="newLocation">Your City?</label>
        <input type="text" class="form-control" id="inputDefault"><br>
      </div>

      <div class="form-horizontal" style=>
        <label class="control-label" for="inputDefault" ng-model="newArtist">An artist you love?</label>
        <input type="text" class="form-control" id="inputDefault"><br>
      </div>

    <button type="submit" class="btn btn-lg btn-info" ng-click="add()">Create Profile!</button>
</div>
