<div ng-include="'components/navbar/navbar.html'"></div>


Give the user the option to skip for now!!

<!-- Using angular assign to false to if user skips to prevent load on signin in -->


<form>
  Name  <input type="text" ng-model="newProfileName" /><br>
  Location  <input type="text" ng-model="newProfileLocation" /><br>
  Genres  <input type="text" ng-model="newProfileGenres" /><br>
  Biography  <input type="text" ng-model="newProfileBiography" /><br>
  <button type="submit" class="btn btn-primary" ng-click="add()">Add New</button>
</form>

<!-- <body ng-controller="UploadCtrl" >
  <div flow-init
       flow-name="uploader.flow"
       flow-files-added="processFiles($files)">
    <button flow-btn type="file">Upload Images</button>
    <div ng-repeat="image in uploader.flow.files track by $index">
      <span class="text">Blob image displayed with "flow-img"</span><img class="preview" flow-img="image"/><br>
    </div>
  </div> -->
