<div ng-include="'components/navbar/navbar.html'"></div>


Give the user the option to skip for now!!

<!-- Using angular assign to false to if user skips to prevent load on signin in -->


<form>
  Name  <input type="text" ng-model="newProfileName" /><br>
  Location  <input type="text" ng-model="newProfileLocation" /><br>
  Genres  <input type="text" ng-model="newProfileGenres" /><br>
  Biography  <input type="text" ng-model="newProfileBiography" /><br>
  <button type="submit" class="btn btn-primary" ng-click="add()">Add New</button>
</form>