<div ng-include="'components/navbar/navbar.html'"></div>

<div class="well well-lg">
  <h1>Edit Your Concert Listing</h1>
  <br>
  <div class="form-horizontal">
    <label class="control-label" for="inputDefault" ng-model="newConcertName">Name:</label>
      <input type="text" class="form-control" id="inputDefault"><br>
      <div class="form-horizontal">
        <label class="control-label" for="inputDefault" ng-model="newConcertLocation">Location:</label>
        <input type="text" class="form-control" id="inputDefault"><br>
      </div>

      <div class="form-horizontal">
        <label class="control-label" for="inputDefault" ng-model="newConcertDate">Date:</label>
        <input type="date" class="form-control" id="inputDefault"><br>
      </div>

      <div class="form-horizontal">
        <label class="control-label" for="inputDefault" ng-model="newConcertTime">Time:</label>
        <input type="time" class="form-control" id="inputDefault"><br>
      </div>

    <button type="submit" class="btn btn-lg btn-info" ng-click="add()">Save Changes</button>
    <button class="btn btn-lg btn-warning" ng-click="deleteProfile(myProfile._id) ">Delete</button>

</div>
