<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Edit Your Profile</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="updateProfile(myProfile)" novalidate>

        <div class="form-group">
        <label>Name</label>
		<input type="text" class="form-control" ng-model="myProfile.name"/>
        <label>Location</label>
		<input type="text" class="form-control" ng-model="myProfile.location"/>
        <label>Genres</label>
		<input type="text" class="form-control" ng-model="myProfile.genres"/>
        <label>Profile Picture</label>
		<input type="text" class="form-control" ng-model="profile.name"/>
		</div>

		<br>
        <button class="btn btn-lg btn-info" type="submit">Save changes</button>
         <button class="btn btn-lg btn-warning" ng-click="deleteProfile(myProfile._id) ">Delete</button>
      </form>
    </div>
  </div>
</div>
