<div ng-include="'components/navbar/navbar.html'"></div>
<div class="form-group">
  <label class="control-label" for="inputDefault" ng-model="newConcertName">Name:</label>
  Name  <input type="text" class="form-control" id="inputDefault" /><br>
  Location  <input type="text" ng-model="newConcertLocation" /><br>
  Date  <input type="text" ng-model="newConcertDate" /><br>
  Time  <input type="text" ng-model="newConcertTime" /><br>
  <button type="submit" class="btn btn-primary" ng-click="add()">Add New</button>
</form>


<div class="form-group">
  <label class="control-label" for="inputDefault">Default input</label>
  <input type="text" class="form-control" id="inputDefault">
</div>
